@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
    --purple:#7b68ee;
    --border-bold: .4rem solid black;
    --border-thin: .1rem solid black;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    color: black;
}

*::selection{
    background-color: black;
    color: white;
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--purple);
}
html{
    overflow-x: hidden;
    scroll-behavior:smooth;
}

body{
    
    overflow: hidden;
   
    transition: .3s linear !important;
}

body.active{
   
    padding-left: 20rem;
}
.header{
    position: fixed;
    display: flex;
    top: 0;
    left: -20rem;
    height: 100vh;
    width: 20rem;
    padding: 10px 1rem;
    background-color: white;
    border-right: var(--border-bold);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-flow: column;
    transition: .3s linear !important;  
}

.header ul{

    list-style: none;
}
.header .logo{

    text-transform: uppercase;
    border-bottom: var(--border-thin);
    font-weight: bolder;
    font-size: 2rem;
}
.header .logo:hover{
    border-color: var(--purple);
}
.header .navbar{

    width: 100%;

}

.header .navbar a{
    display: block;
    font-size: 1.1rem;
    margin: .8rem;
    padding: .5rem;
}

.header .navbar a:hover{

    background-color: var(--purple);
  
}
.header .links a{
   
    margin: 0 .3rem;
    font-size: 1.5rem;
    transition: .3s linear !important;
}
.header .links a:hover{
    
    color: var(--purple);
}
#menu-bar{
    position: absolute;
    top: 0;
    right: -3.3rem;
    height: 4.5rem;
    line-height: 3rem;
    font-size: 1.8rem;
    height: 3rem;
    width: 3rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

.header.active{
    left: 0;
}

/* home */

section{
    padding: 10px 1rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}
.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
    /* min-height: 100vh; */
    
}

.home .image{
    border: 4px solid var(--purple);
   border-radius: 50%;
    margin-bottom: 20px;
    
}

.image img{
    border-radius: 50%;
    height: 270px;
    width: 270px;

    
}
.home .description{
    margin: 10px;

}

.home .description h2{
    font-size: 2.3rem;
    margin-bottom: 10px;
    font-weight: bolder;
    
}
.home .description span{
    
    display: inline-block;
    color: var(--purple);
    font-size: 2rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
}

.skills h1{
    border-bottom: var(--border-thin);
    font-weight: bolder;
    font-size: 3rem;
}
.skills h1:hover{
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}
.skills .progress{
    display: flex;
    flex-direction: column;
    width:40%;
}

.progressbar{
    border-radius: 1rem;
    border: 1px solid var(--purple);
}
.roundstyle{
    color: white;
    background-color: var(--purple);
    border-radius: 1rem;
    padding: 1px;
}
.progress .jstxt{
    color: white;
}
.projects .allprojects{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   row-gap: 2rem;
   margin: 3rem;
  
}
/* .projects h1{
    display: block;
    border-bottom: var(--border-thin);
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 3rem;  
} */
.projects h1:hover{
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}
.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.projects h4{
    font-weight: bolder;
}
.allprojects p{
    color: var(--purple);
    margin-bottom: 5px;
}
.allprojects img{
    height: 15rem;
    width: 25rem;
    
}
.allprojects a:hover{
    color: var(--purple);
}
.allprojects a{
    margin-top: 10px;
    font-size: 150%;
}
/* .contact h1{
    display: block;
    border-bottom: var(--border-thin);
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 3rem; 
} */
.contact h1:hover{
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}
.contactinfo{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 gap: 1rem;
 margin: 1rem;
 
}
.contactme{
    margin: 1rem;
    text-align: center;
    background-color: #f1f1f1;
    border: var(--border-thin);
    width: 235px;
    height: 75px;
}
/* .find h1{
     text-align: center;
     font-size: 120%;
     font-weight: bolder;
     
}
.find h1:hover{
    color: var(--purple);

} */
.find .links{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 3rem;
    align-items: center;
    margin: 2rem;
}
.find .links a{
    font-size: 200%;
}
.find .links a:hover{
 color: var(--purple);

}

@media (max-width:1200px){
    .projects .allprojects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        row-gap: 2rem;
        margin: 1rem;
     }
     .project{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
     .allprojects img{
        height: 10rem;
        width: 20rem;
    }
}
@media (max-width:991px){
  
    body{
        /* font-size: 120%; */
        padding: 0;
    }
    body.active{
        padding-left: 0;
    }
   .jstxt{
       
       text-align: center;
       color: white;
   }


}

@media (max-width:635px){
    .projects .allprojects{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        row-gap: 2rem;
        
     }
     .project{
         display: flex;
         flex-direction: column;
         align-items: center;

     }
     .allprojects img{
        height: 10rem;
        width: 20rem;
    }
    .contactinfo{
        display: flex;
        flex-direction: column;
        align-items: center;
       }
}
@media (max-width:450px){
    html{
        font-size: 70%;
    }

    #menu-bar.fa-times{
        right: -.3rem;
        /* left: 0; */
    }
    /* .img img{
        height: auto;
        width: 100%;
    } */
}